In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Corona_Updated.csv')
data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,1,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,1,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0

In [3]:
data['Temprature'].describe()

count    206.000000
mean      12.161165
std       10.229763
min      -21.900000
25%        6.100000
50%       11.750000
75%       20.375000
max       33.100000
Name: Temprature, dtype: float64

In [32]:
data['Temp_Cat'] = data['Temprature'].apply(lambda x: 0 if x < 12 else 1)

In [33]:
data['Temp_Cat'].describe()

count    206.000000
mean       0.480583
std        0.500840
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Temp_Cat, dtype: float64

In [44]:
dataA = data[data['Temp_Cat'] == 1]['Deaths']
dataB = data[data['Temp_Cat'] == 0]['Deaths']

In [45]:
mA = dataA.mean()

In [46]:
mB = dataB.mean()

In [47]:
sA = dataA.std()
sB = dataB.std()

In [48]:
nA = len(dataA)
nB = len(dataB)

In [49]:
from numpy import sqrt, abs, round
from scipy.stats import norm

In [50]:
d = sqrt((sA ** 2 / nA) + (sB ** 2 / nB))
d

31.250637866924116

In [51]:
n = mA - mB
n

33.77437930708959

In [52]:
z = n / d
z

1.0807580776722838

In [53]:
pvalue = 2 * (1 - norm.cdf(abs(z)))
pvalue

0.2798047410713227